<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" ngModel name="email" required email #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">E-mail is required</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Please enter valid e-mail</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6"
             #pwdInput="ngModel">
      <mat-error *ngIf="pwdInput.hasError('required')">Password field empty</mat-error>
      <mat-error *ngIf="pwdInput.value?.length<6 && !pwdInput.hasError('required')">Should be 6 character</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Login</button>
    <mat-spinner *ngIf="isLoading$ | async" [diameter]="diameter"></mat-spinner>
  </form>
</section>
