<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" ngModel name="email" required email #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">E-mail is required</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Please enter valid e-mail</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="8">
      <mat-hint>Should be atlest 6 characters long.</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Your Birth-date" [max]="maxDate" ngModel name="birthday"
             required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" color="primary" required>Agree to Terms to Conditions.</mat-checkbox>
    <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">
      Submit
    </button>
    <mat-spinner *ngIf="isLoading$ | async" [diameter]="diameter"></mat-spinner>
  </form>
</section>

